@model  CourseDTO

<div class="col-sm-4">
    <div class="card no-boder-radius">
        <img class="card-img-top no-boder-radius" src="@Model.CourseImageUrl" />
        <div class="card-body">
            <h3 class="card-title">@Model.CourseTitle</h3>
            <p class="card-text">@Model.CourseDescription</p>
            <a class="btn btn-primary no-boder-radius" href="~/Membership/Course/@Model.CourseId">View Course</a>
        </div>
    </div>
</div>